@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #023020;
}

.bg-nice-plant-color {
  background-color: #f1f2ec;
  /* background-color: #357960 */
}

.bg-navbar-color {
  background-color: #3d8b6e;
  /* border: solid 1px #4cae8a */
}

.font-darkGreen-color {
  color: #023020;
}

body {
  background-color: #f1f2ec;
  color: #023020;
}

/* Animated Blob */

.gooey-rec {
  background-image: "./logo.svg";
  overflow: hidden;
  height: 550px;
  width: 650px;
  border: solid 2px black;
  border-radius: 30% 70% 20% 40%;
  animation: transform 20s ease-in-out infinite both alternate,
    movement_one 40s ease-in-out infinite both;
  opacity: 1;
}

@media (max-width: 1000px) {
  .gooey-rec {
    height: 300px;
    width: 340px;
  }
}

@keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes movement_one {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: rotateY(10deg) scale(1);
  }
}

/* Animated Text */

.gif {
  animation: fadeslideUp 12s; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.gif-delayed {
  animation: fadeslideUp 16s;
}

@keyframes fadeslideUp {
  0% {
    opacity: 0;
    transform: translateY(+10%);
  }
  10% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.gif-right {
  animation-delay: 1s;
  animation: fadeslideRight 16s; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@keyframes fadeslideRight {
  0% {
    opacity: 0;
    transform: translateX(+10%);
  }
  10% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.gif-left {
  animation-delay: 1s;
  animation: fadeslideLeft 16s; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@keyframes fadeslideLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  10% {
    opacity: 1;
    transform: translateX(0%);
  }
}


/* ChatBot */

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 0.3;
  background-color: rgb(10, 102, 194);
  background-color: rgba(10, 102, 194, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}



/* 

Chat buuble

*/


.bubble {
  position: relative;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 24px;
  width: 300px;
  background: #fff;
  border-radius: 40px;
  padding: 20px;
  text-align: center;
  color: #000;
}




.bubble-bottom-right:before {
  content: '';
	position: absolute;
	right: 13%;
	top: 80%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-left-color: white;
	border-right: 0;
  border-top: 0;
  	margin-top: -27.5px;
	margin-right: -55px;
}

.bubble-wide {
  position: relative;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  width: 90%;
  background: #fff;
  border-radius: 40px;
  text-align: center;
  color: #000;
}

.bubble-bottom-left:before {
  content: '';
	position: absolute;
	left: 13%;
	top: 80%;
	width: 0;
	height: 0;
	border: 34px solid transparent;
	border-right-color: white;
	border-left: 0;
  border-top: 0;
  	margin-top: -40.5px;
	margin-left: -180px;
}




/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
/* END: General styles */
